main {
    width: 550px;
}

.main-item {
    display: flex;
    width: 471px;

    gap: 20px;
    align-items: center;
}
.main-image {
    width: 125px;

}

.title-location {
    display: flex;
    align-items: center;
}
